{% extends 'base.html.twig' %}

{% block title %}Créer un nouveau souhait{% endblock %}

{% block body %}
    <h1>Créer un nouveau souhait</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}

    <a href="{{ path('app_wish_list') }}">Retour à la liste</a>
{% endblock %}
